rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to all files.
    // This is useful for images, which are often publicly displayed.
    match /{allPaths=**} {
      allow read;
    }

    // Allow authenticated users to write to the 'properties' folder.
    // This rule ensures that only logged-in users can upload property images.
    // The 'request.auth != null' check verifies that the user is authenticated.
    match /properties/{allPaths=**} {
      allow write: if request.auth != null;
    }
  }
}
